<p>
  <b>First name:</b>
  <%=h @lead.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @lead.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @lead.email %>
</p>



<p>
  <b>Phone:</b>
  <%=h @lead.phone %>
</p>





<p>
  <b>Comments:</b>
  <%=h @lead.comments %>
</p>


<p>
  <b>Unit:</b>
  <%=h @lead.unit_id %>
</p>
